@font-face {
    src: url("/fonts/JetBrainsMono-Bold.ttf");
}

@font-face {
    src: url("/fonts/JetBrainsMono-Medium.ttf");
}

@font-face {
    font-family: 'Noto Sans';
    src: url("/fonts/NotoSansCJK-Regular.otf");
}

.block {
    -fx-border-color: black;
    -fx-font-family: "JetBrains Mono Medium";
    -fx-padding: 8;
    -fx-spacing: 8;
}

.block:invalid {
    -fx-background-color: red !important;
}

.block:selected {
    -fx-border-color: yellow;
}

.block .button {
    -fx-background-color: transparent;
}

.block .label {
    -fx-text-fill: black;
}

.block .text-field {
    -fx-control-inner-background: lightgray;
    -fx-text-fill: black;
}

.block-header {
    -fx-font-family: "JetBrains Mono";
}

.block-header > .button {
    -fx-border-width: 0;
    -fx-padding: 0;
}

.block-header > .button:hover {
    -fx-opacity: 75%;
}

.block-header > .button:pressed {
    -fx-opacity: 50%;
}

.block-selector {
    -fx-border-color: black;
    -fx-border-width: 0 0 0 1;
    -fx-spacing: 15;
}

.block-selector > .list-view {
    -fx-background-insets: 0;
    -fx-selection-bar: transparent;
    -fx-selection-bar-non-focused: transparent;
}

.block-selector > .vbox {
    -fx-padding: 10;
    -fx-spacing: 10;
}

.block-source {
    -fx-background-insets: 1;
    -fx-background-radius: 5;
    -fx-border-color: black;
    -fx-border-radius: 5;
    -fx-font-family: "JetBrains Mono";
    -fx-padding: 5;
    -fx-text-fill: black;
}

.block-source:hover {
    -fx-cursor: hand;
}

.button {
    -fx-background-insets: 1;
    -fx-background-radius: 5;
    -fx-border-color: black;
    -fx-border-radius: 5;
    -fx-cursor: default;
    -fx-focus-traversable: false;
    -fx-padding: 5;
}

.check-box {
    -fx-focus-traversable: false;
}

.check-box > .box {
    -fx-border-color: black;
    -fx-border-width: 1;
    -fx-padding: 5;
}

.combo-box {
    -fx-faint-focus-color: transparent;
    -fx-focus-color: transparent;
    -fx-pref-width: 150;
}

.combo-box > .arrow-button {
    -fx-padding: 0 5 0 0;
}

.combo-box > .list-cell {
    -fx-padding: 5;
}

.container-block {
    -fx-background-color: lightblue;
    -fx-padding: 8 8 25 8;
}

.container-block:hover {
    -fx-cursor: hand;
}

.container-block:nested {
    -fx-background-color: cornflowerblue;
}

.context-menu {
    -fx-padding: 1;
}

.custom-text-field .button {
    -fx-border-width: 0;
    -fx-padding: 0;
}

.custom-text-field .button:hover {
    -fx-opacity: 75%;
}

.custom-text-field .button:pressed {
    -fx-opacity: 50%;
}

.expression-block {
    -fx-background-color: rgb(255, 179, 71);
    -fx-background-radius: 10;
    -fx-border-radius: 10;
}

.expression-block:hover {
    -fx-cursor: hand;
}

.expression-block:nested {
    -fx-background-color: derive(orange, 50%);
}

.expression-parameter {
    -fx-background-color: derive(pink, -15%) !important;
    -fx-background-insets: 1;
    -fx-background-radius: 10;
    -fx-border-color: black;
    -fx-border-radius: 10;
    -fx-cursor: default;
    -fx-padding: 3;
    -fx-text-fill: black;
}

.expression-parameter:connecting {
    -fx-background-color: yellow !important;
}

.expression-parameter:drag-over {
    -fx-background-color: derive(yellow, 25%) !important;
}

.expression-parameter:hover {
    -fx-background-color: pink !important;
}

.expression-selector .hbox {
    -fx-padding: 0 10 0 0;
    -fx-spacing: 0;
}

.expression-selector .hbox > .text-field {
    -fx-background-color: transparent;
    -fx-border-color: black;
    -fx-border-radius: 0;
    -fx-border-width: 0 0 2 0;
    -fx-pref-width: 180;
}

.expression-source {
    -fx-background-color: rgb(255, 179, 71);
}

.extension-view .list-view {
    -fx-focus-traversable: false;
}

.grid-pane {
    -fx-hgap: 10;
    -fx-vgap: 10;
}

.grid-pane .button {
    -fx-max-width: Infinity;
}

.hbox {
    -fx-alignment: center-left;
    -fx-spacing: 10;
}

.label {
    -fx-wrap-text: true;
}

.list-view {
    -fx-focus-traversable: false;
}

.local-variable-field {
    -fx-control-inner-background: yellow !important;
}

.log-display {
    -fx-font-family: "JetBrains Mono Medium" !important;
}

.menu-item {
    -fx-focus-traversable: false;
}

.menu-item:hover {
    -fx-background-color: -fx-accent;
}

.menu-item > .label {
    -fx-font-family: "Noto Sans";
}

.number-field {
    -fx-control-inner-background: beige !important;
}

.plugin-component-block {
    -fx-background-color: rgb(180, 96, 235);
    -fx-background-radius: 10 10 0 0;
    -fx-border-radius: 10 10 0 0;
}

.plugin-component-pane {
    -fx-border-color: black;
    -fx-border-width: 1 0 0 0;
    -fx-padding: 15;
}

.plugin-component-source {
    -fx-background-color: rgb(180, 96, 235);
}

.plugin-settings-pane {
    -fx-border-color: black;
    -fx-border-width: 0 0 0 1;
    -fx-padding: 10;
    -fx-spacing: 15;
}

.plugin-settings-pane .grid-pane .button {
    -fx-background-radius: 15;
    -fx-border-radius: 15;
    -fx-padding: 8;
}

.plugin-settings-pane .text-area {
    -fx-pref-height: 100;
}

.popover .label {
    -fx-padding: 10;
}

.root {
    -fx-font-family: "Noto Sans";
}

.scroll-pane {
    -fx-background-color: transparent;
}

.separator {
    -fx-background: gray;
}

.statement-block {
    -fx-background-color: rgb(0, 230, 154);
}

.statement-block:hover {
    -fx-cursor: hand;
}

.statement-connector {
    -fx-background-color: yellow;
    -fx-border-color: black;
    -fx-pref-height: 25;
}

.statement-connector:disabled {
    -fx-border-width: 0;
    -fx-pref-height: 0;
}

.statement-source {
    -fx-background-color: rgb(0, 230, 154);
}

.tab-pane .tab {
    -fx-background-color: derive(-fx-background, -35%);
    -fx-background-radius: 0;
    -fx-border-color: black;
    -fx-faint-focus-color: transparent;
    -fx-focus-color: transparent;
}

.tab-pane .tab:selected {
    -fx-background-color: -fx-background;
}

.tab-pane .tab-header-area {
    -fx-padding: 0;
}

.tab-pane:left .tab {
    -fx-border-width: 0 0 0 1;
}

.tab-pane:top .tab {
    -fx-border-width: 0 1 0 0;
}

.text-area {
    -fx-background-color: -fx-control-inner-background;
    -fx-border-color: black;
    -fx-faint-focus-color: transparent;
    -fx-focus-color: transparent;
}

.text-field {
    -fx-background-radius: 0;
    -fx-border-color: black;
    -fx-faint-focus-color: transparent;
    -fx-focus-color: transparent;
    -fx-padding: 2 2 2 4;
}

.tooltip {
    -fx-background-radius: 5;
    -fx-border-color: lightgray;
    -fx-border-radius: 5;
    -fx-font-size: 14;
    -fx-padding: 5;
}

.tree-node {
    -fx-spacing: 5;
}

.tree-node > .vbox {
    -fx-padding: 0 0 0 10;
    -fx-spacing: 5;
}