@font-face {
    src: url("/fonts/JetBrainsMono-Bold.ttf");
}

@font-face {
    src: url("/fonts/JetBrainsMono-Medium.ttf");
}

@font-face {
    src: url("/fonts/Roboto-Regular.ttf");
}

.block-info-popover .label {
    -fx-padding: 10;
}

.button {
    -fx-focus-traversable: false;
}

.check-box {
    -fx-focus-traversable: false;
}

.code-block {
    -fx-border-color: black;
    -fx-font-family: "JetBrains Mono Medium";
    -fx-padding: 8;
    -fx-spacing: 8;
}

.code-block:invalid {
    -fx-background-color: red !important;
}

.code-block:selected {
    -fx-border-color: yellow;
    -fx-border-width: 2;
}

.code-block .button {
    -fx-background-color: transparent;
}

.code-block .button:hover {
    -fx-opacity: 75%;
}

.code-block .button:pressed {
    -fx-opacity: 50%;
}

.code-block .label {
    -fx-text-fill: black;
}

.code-block .text-field {
    -fx-control-inner-background: lightgray;
    -fx-text-fill: black;
}

.code-block-header {
    -fx-font-family: "JetBrains Mono";
}

.code-block-header > .button {
    -fx-padding: 0;
}

.combo-box {
    -fx-faint-focus-color: transparent;
    -fx-focus-color: transparent;
    -fx-pref-width: 150;
}

.combo-box > .arrow-button {
    -fx-padding: 0 5 0 0;
}

.combo-box > .list-cell {
    -fx-padding: 5;
}

.container-block {
    -fx-background-color: lightblue;
    -fx-padding: 8 8 25 8;
}

.container-block:nested {
    -fx-background-color: cornflowerblue;
}

.context-menu {
    -fx-padding: 1;
}

.expression-block {
    -fx-background-color: orange;
    -fx-background-radius: 10;
    -fx-border-radius: 10;
}

.expression-block:nested {
    -fx-background-color: derive(orange, 50%);
}

.expression-parameter {
    -fx-background-color: derive(pink, -15%) !important;
    -fx-background-insets: 1;
    -fx-background-radius: 10;
    -fx-border-color: black;
    -fx-border-radius: 10;
    -fx-padding: 3;
    -fx-text-fill: black;
}

.expression-parameter:hover {
    -fx-background-color: pink !important;
}

.extension-info-grid {
    -fx-hgap: 10;
    -fx-vgap: 15;
}

.extension-pane .vbox {
    -fx-padding: 15;
    -fx-spacing: 15;
}

.hbox {
    -fx-alignment: center-left;
    -fx-spacing: 10;
}

.icon-button {
    -fx-background-color: transparent;
    -fx-padding: 0;
}

.icon-button:hover {
    -fx-opacity: 75%;
}

.icon-button:pressed {
    -fx-opacity: 50%;
}

.label {
    -fx-wrap-text: true;
}

.list-view {
    -fx-focus-traversable: false;
}

.log-display {
    -fx-font-family: "JetBrains Mono Medium" !important;
}

.menu-item {
    -fx-focus-traversable: false;
}

.menu-item:hover {
    -fx-background-color: -fx-accent;
}

.menu-item > .label {
    -fx-font-family: "Roboto";
}

.number-field {
    -fx-control-inner-background: beige !important;
}

.plugin-component-block {
    -fx-background-color: rgb(180, 96, 235);
    -fx-background-radius: 10 10 0 0;
    -fx-border-radius: 10 10 0 0;
}

.plugin-component-pane {
    -fx-padding: 15;
}

.plugin-settings-grid {
    -fx-hgap: 10;
    -fx-padding: 15;
    -fx-vgap: 10;
}

.popover {
    -fx-pref-width: 550;
}

.popover-selector .hbox {
    -fx-padding: 5;
}

.popover-selector .hbox > .text-field {
    -fx-background-color: transparent;
    -fx-border-color: black;
    -fx-border-radius: 0;
    -fx-border-width: 0 0 2 0;
    -fx-pref-width: 200;
}

.project-button-bar {
    -fx-alignment: center-left;
    -fx-border-width: 3 0 0 0;
    -fx-padding: 15;
    -fx-spacing: 20;
}

.root {
    -fx-font-family: "Roboto";
}

.scroll-pane {
    -fx-background-color: transparent;
}

.separator {
    -fx-background: gray;
}

.simple-global-variable-field {
    -fx-control-inner-background: derive(yellow, 50%) !important;
}

.simple-local-variable-field {
    -fx-control-inner-background: yellow !important;
}

.simple-persistent-variable-field {
    -fx-control-inner-background: pink !important;
}

.statement-block {
    -fx-background-color: rgb(0, 230, 154);
}

.statement-connector {
    -fx-background-color: yellow;
    -fx-max-height: 25;
}

.statement-label {
    -fx-background-color: rgb(0, 230, 154);
    -fx-background-insets: 1;
    -fx-background-radius: 5;
    -fx-border-color: black;
    -fx-border-radius: 5;
    -fx-font-family: "JetBrains Mono Medium";
    -fx-padding: 5;
    -fx-text-fill: black;
}

.statement-label:hover {
    -fx-cursor: hand;
}

.statement-selector {
    -fx-spacing: 10;
}

.statement-selector .vbox {
    -fx-padding: 10;
    -fx-spacing: 10;
}

.tab-pane .tab {
    -fx-background-color: -fx-background;
    -fx-background-radius: 0;
    -fx-border-color: -fx-control-inner-background;
    -fx-faint-focus-color: transparent;
    -fx-focus-color: transparent;
}

.tab-pane .tab-header-area {
    -fx-padding: 0;
}

.text-area {
    -fx-faint-focus-color: transparent;
    -fx-focus-color: transparent;
}

.text-field {
    -fx-background-radius: 0;
    -fx-border-color: black;
    -fx-faint-focus-color: transparent;
    -fx-focus-color: transparent;
    -fx-padding: 2 2 2 4;
}

.tooltip {
    -fx-background-radius: 5;
    -fx-border-color: lightgray;
    -fx-border-radius: 5;
    -fx-font-size: 14;
    -fx-padding: 5;
}