.block-info-popover > .content {
    -fx-background-color: -fx-control-inner-background;
    -fx-border-color: lightgray;
}

.block-info-popover .label {
    -fx-text-fill: white;
}

.dialog-pane {
    -fx-background-color: derive(-fx-background, -30%);
}

.list-cell {
    -fx-control-inner-background: black;
}

.log-display {
    -fx-border-color: black;
}

.log-display .content {
    -fx-background-color: black;
    -fx-border-color: black;
}

.menu-bar {
    -fx-background-color: rgb(35, 43, 50);
}

.plugin-settings-grid {
    -fx-background-color: derive(-fx-background, -30%);
}

.project-button-bar {
    -fx-border-color: gray transparent transparent transparent;
}

.root {
    -fx-accent: rgb(63, 81, 181);
    -fx-background: rgb(32, 34, 37);
    -fx-base: rgb(48, 51, 56);
    -fx-control-inner-background: rgb(20, 20, 20);
    -fx-control-inner-background-alt: black;
    -fx-light-text-color: white;
}

.tab-pane .tab-header-background {
    -fx-background-color: derive(-fx-background, 10%);
}