.block-selector > .list-view {
    -fx-control-inner-background: derive(-fx-base, 26.4%);
    -fx-control-inner-background-alt: derive(-fx-base, 26.4%);
}

.log-display {
    -fx-border-color: lightgray;
}

.tab-pane .tab {
    -fx-background-color: derive(-fx-background, -10%);
}

.tab-pane .tab:selected {
    -fx-background-color: -fx-background;
}