@font-face {
    src: url("JetBrainsMono-Regular.ttf");
}

/* Default Style Classes */

.button {
    -fx-border-color: black;
    -fx-border-radius: 2;
    -fx-focus-traversable: false;
}

.check-box .box {
    -fx-border-color: black;
    -fx-border-radius: 2;
    -fx-padding: 3;
}

.list-view {
    -fx-faint-focus-color: transparent;
    -fx-focus-color: transparent;
    -fx-padding: 0;
    -fx-selection-bar-non-focused: -fx-selection-bar;
}

.root {
    -fx-font-family: "JetBrains Mono";
    -fx-font-size: 14;
}

.scroll-pane {
    -fx-background-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-focus-color: transparent;
}

.tab-pane .tab {
    -fx-faint-focus-color: transparent;
    -fx-focus-color: transparent;
}

.tab-pane .tab-header-background {
    -fx-background-color: derive(-fx-base, 5%);
}

.text-area {
    -fx-border-color: black;
    -fx-border-insets: 1;
    -fx-faint-focus-color: transparent;
    -fx-fill: -fx-light-text-color;
    -fx-focus-color: transparent;
}

.text-area .content {
    -fx-background-color: -fx-color;
}

.text-field {
    -fx-border-color: black;
    -fx-border-radius: 2;
    -fx-control-inner-background: white;
    -fx-faint-focus-color: transparent;
    -fx-focus-color: transparent;
    -fx-text-fill: black;
}

.tree-view {
    -fx-control-inner-background: derive(-fx-base, 5%);
    -fx-focus-traversable: false;
}

/* Custom Style Classes */

.block-area {
    -fx-fill-width: false;
    -fx-padding: 10 10 50 10;
    -fx-spacing: 10;
}

.block-pane-info-area {
    -fx-alignment: center-left;
    -fx-border-color: gray;
    -fx-border-width: 0 0 3 0;
    -fx-padding: 5 5 15 5;
}

.caret {
    -fx-stroke: -fx-light-text-color
}

.code-area {
   -fx-background-color: -fx-color;
   -fx-padding: 3;
}

.code-area .lineno .text {
    -fx-fill: -fx-mid-text-color;
}

.code-area .text {
    -fx-fill: -fx-light-text-color;
    -fx-font-family: "JetBrains Mono";
}

.combo-box-view {
    -fx-border-color: black;
    -fx-border-radius: 2;
    -fx-padding: 0 3 0 3;
    -fx-spacing: 15;
}

.combo-box-view .menu-item {
    -fx-background-insets: 0;
    -fx-faint-focus-color: -fx-control-inner-background;
    -fx-focus-color: -fx-control-inner-background;
    -fx-padding: 0;
}

.expression-block-info-node {
    -fx-background-color: lightgray;
    -fx-background-insets: 1;
    -fx-background-radius: 30;
    -fx-border-color: black;
    -fx-border-radius: 30;
    -fx-padding: 5;
    -fx-text-fill: black;
}

.expression-parameter-filled {
    -fx-alignment: center;
}

.expression-parameter-empty {
    -fx-alignment: center;
    -fx-background-color: gold;
    -fx-background-insets: 1;
    -fx-background-radius: 30;
    -fx-border-color: black;
    -fx-border-radius: 30;
    -fx-padding: 1;
}

.input-parameter {
    -fx-padding: 1 1 1 3;
    -fx-min-width: 30;
}

.lineno {
    -fx-background-color: -fx-color;
}

.local-variable {
    -fx-background-color: yellow;
}

.parent-block {
    -fx-border-color: black;
    -fx-fill-width: false;
    -fx-padding: 5 5 50 5;
    -fx-spacing: 10;
}

.project-pane {
    -fx-background-color: derive(-fx-base, 5%);
    -fx-padding: 10;
    -fx-spacing: 10;
}

.selector-pane {
    -fx-background-color: derive(-fx-base, 5%);
    -fx-fill-width: false;
    -fx-padding: 10;
    -fx-spacing: 10;
}

.splash-screen {
    -fx-alignment: center;
    -fx-font-size: 36;
}

.statement-block {
    -fx-alignment: center-left;
    -fx-background-color: lightgreen;
    -fx-border-color: black;
    -fx-padding: 3;
}

.statement-block-info-node {
    -fx-background-color: lightgray;
    -fx-border-color: black;
    -fx-padding: 5;
    -fx-text-fill: black;
}

.syntax-node {
    -fx-alignment: center-left;
    -fx-fill-height: false;
    -fx-spacing: 5;
}

/*
MIT License

Copyright (c) 2016 Joffrey Bion

Permission is hereby granted, free of charge, to any person obtaining a copy
of this software and associated documentation files (the "Software"), to deal
in the Software without restriction, including without limitation the rights
to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
copies of the Software, and to permit persons to whom the Software is
furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in all
copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
SOFTWARE.
*/

/*
This is an adjustment of the original modena.css for a consistent dark theme.
Original modena.css here: https://gist.github.com/maxd/63691840fc372f22f470.
*/

/* Redefine base colors */
.root {
    -fx-base: rgb(50, 50, 50);
    -fx-background: rgb(50, 50, 50);

    /* make controls (buttons, thumb, etc.) slightly lighter */
    -fx-color: derive(-fx-base, 10%);

    /* text fields and table rows background */
    -fx-control-inner-background: rgb(20, 20, 20);
    /* version of -fx-control-inner-background for alternative rows */
    -fx-control-inner-background-alt: derive(-fx-control-inner-background, 2.5%);

    /* text colors depending on background's brightness */
    -fx-light-text-color: white;
    -fx-mid-text-color: rgb(100, 100, 100);
    -fx-dark-text-color: rgb(20, 20, 20);

    /* A bright blue for highlighting/accenting objects.  For example: selected
     * text; selected items in menus, lists, trees, and tables; progress bars */
    -fx-accent: rgb(0, 80, 100);

    /* color of non-focused yet selected elements */
    -fx-selection-bar-non-focused: rgb(50, 50, 50);
}

/* Fix derived prompt color for text fields */
.text-input {
    -fx-prompt-text-fill: derive(-fx-control-inner-background, +50%);
}

/* Keep prompt invisible when focused (above color fix overrides it) */
.text-input:focused {
    -fx-prompt-text-fill: transparent;
}

/* Fix scroll bar buttons arrows colors */
.scroll-bar > .increment-button > .increment-arrow,
.scroll-bar > .decrement-button > .decrement-arrow {
    -fx-background-color: -fx-mark-highlight-color, rgb(220, 220, 220);
}

.scroll-bar > .increment-button:hover > .increment-arrow,
.scroll-bar > .decrement-button:hover > .decrement-arrow {
    -fx-background-color: -fx-mark-highlight-color, rgb(240, 240, 240);
}

.scroll-bar > .increment-button:pressed > .increment-arrow,
.scroll-bar > .decrement-button:pressed > .decrement-arrow {
    -fx-background-color: -fx-mark-highlight-color, rgb(255, 255, 255);
}