@font-face {
    src: url("JetBrainsMono-Regular.ttf");
}

.button {
    -fx-background-color: transparent;
    -fx-background-radius: 20;
    -fx-border-radius: 20;
    -fx-border-color: #B9BBBE;
    -fx-focus-traversable: false;
    -fx-text-fill: #B9BBBE;
}

.button:hover {
    -fx-background-color: rgb(50,50,50);
}

.combo-box {
    -fx-pref-width: 100;
}

.combo-box > .arrow-button {
    -fx-padding: 0 5 0 0;
}

.combo-box > .list-cell {
    -fx-padding: 0 0 0 5;
}

.label {
    -fx-wrap-text: true;
}

.list-view {
    -fx-faint-focus-color: transparent;
    -fx-focus-color: transparent;
    -fx-padding: 0;
}

.list-view .list-cell {
    -fx-text-color: white;
}

.menu-bar {
    -fx-background-color: #232B32;
}

.root {
    -fx-accent: #3F51B5;
    -fx-background: #202225;
    -fx-base: #303338;
    -fx-control-inner-background: rgb(20, 20, 20);
    -fx-control-inner-background-alt: rgb(20, 20, 20);
    -fx-font-size: 14;
    -fx-light-text-color: white;
}

.scroll-bar {
   -fx-background-color: derive(-fx-base, -25%);
}

.scroll-pane {
    -fx-background-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-focus-color: transparent;
}

.separator {
    -fx-background: gray;
}

.tab:focused {
    -fx-background-color: #3F51B5;
}

.tab:hover {
    -fx-background-color: rgb(50,50,50);
}

.tab-pane .tab {
    -fx-border-color: -fx-control-inner-background;
    -fx-faint-focus-color: transparent;
    -fx-focus-color: transparent;
    -fx-background-color: #202225;
    -fx-background-radius: 0;
}

.tab-pane .tab-header-area {
    -fx-padding: 0;
}

.tab-pane .tab-header-background {
    -fx-background-color: derive(-fx-base, -75%);
}

.text-area {
    -fx-faint-focus-color: transparent;
    -fx-focus-color: transparent;
    -fx-font-family: "Jetbrains Mono";
    -fx-text-fill: white;
}

.text-area .content {
    -fx-background-color: black;
}

.text-field {
    -fx-border-color: black;
    -fx-border-radius: 2;
    -fx-control-inner-background: lightgray;
    -fx-faint-focus-color: transparent;
    -fx-focus-color: transparent;
    -fx-padding: 2 2 2 4;
    -fx-text-fill: black;
}

.text-field:hover {
    -fx-control-inner-background: #F8FAFF;
}

.tooltip {
    -fx-border-color: lightgray;
    -fx-border-radius: 2;
}
