@font-face {
    src: url("JetBrainsMono-Regular.ttf");
}

.button {
    -fx-border-color: black;
    -fx-border-radius: 2;
    -fx-focus-traversable: false;
}

.combo-box {
    -fx-pref-width: 200;
}

.combo-box > .arrow-button {
    -fx-padding: 0 5 0 0;
}

.combo-box > .list-cell {
    -fx-padding: 0 0 0 5;
}

.label {
    -fx-wrap-text: true;
}

.list-view {
    -fx-faint-focus-color: transparent;
    -fx-focus-color: transparent;
    -fx-padding: 0;
}

.list-view .list-cell {
    -fx-text-color: white;
}

.root {
    -fx-accent: rgb(0, 80, 100);
    -fx-background: rgb(50, 50, 50);
    -fx-base: rgb(50, 50, 50);
    -fx-control-inner-background: rgb(20, 20, 20);
    -fx-control-inner-background-alt: derive(-fx-control-inner-background, 2.5%);
    -fx-font-size: 14;
    -fx-light-text-color: white;
}

.scroll-pane {
    -fx-background-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-focus-color: transparent;
}

.separator {
    -fx-background: gray;
}

.tab-pane .tab {
    -fx-faint-focus-color: transparent;
    -fx-focus-color: transparent;
}

.tab-pane .tab-header-area {
    -fx-padding: 0;
}

.tab-pane .tab-header-background {
    -fx-background-color: derive(-fx-base, 5%);
}

.text-area {
    -fx-faint-focus-color: transparent;
    -fx-focus-color: transparent;
    -fx-font-family: "Jetbrains Mono";
    -fx-text-fill: white;
}

.text-area .content {
    -fx-background-color: black;
}

.text-field {
    -fx-border-color: black;
    -fx-border-radius: 2;
    -fx-control-inner-background: white;
    -fx-faint-focus-color: transparent;
    -fx-focus-color: transparent;
    -fx-padding: 2 2 2 4;
    -fx-text-fill: black;
}

.tooltip {
    -fx-border-color: lightgray;
    -fx-border-radius: 2;
}
