@import "default.css"

.block .ikonli-font-icon {
   -fx-icon-color: black;
}

.block .list-view .ikonli-font-icon {
   -fx-icon-color: white;
}

.ikonli-font-icon {
    -fx-icon-color: white;
}

.popover .list-cell .label {
    -fx-text-fill: white;
}

.project-pane > .button-bar {
    -fx-border-color: gray;
    -fx-border-width: 1 0 0 0;
}

.root {
    -fx-accent: rgb(63, 81, 181);
    -fx-background: rgb(45, 45, 45);
    -fx-base: rgb(45, 45, 45);
    -fx-color: rgb(65, 65, 65);
    -fx-control-inner-background: rgb(25, 25, 25);
    -fx-control-inner-background-alt: rgb(30, 30, 30);
    -fx-default-button: rgb(65, 65, 65);
    -fx-light-text-color: white;
}

.statement-source .ikonli-font-icon {
    -fx-icon-color: black;
}

.text-field {
    -fx-prompt-text-fill: lightgray;
}
